<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="Style/About.css" rel="stylesheet" type="text/css" />
	<meta charset="utf-8" />
</head>
<body>
    <div class="font20">
        <div class="section">
            <h2>Contact</h2>
            <ul>
                <li><span>Daniel Charles Kennedy</span></li>
                <li><span>danielckennedy@hotmail.com</span></li>
                <li><a href="https://github.com/DanielCKennedy">github.com/DanielCKennedy</a></li>
            </ul>
        </div>
        <br />
        <div class="section">
            <h2>About</h2>
            <span>Have you ever tried to make a playlist on a music streaming website just to find that the site didn't have a certain song you wanted to add?</span>
            <br /><br />
            <span>Playall.audio solves this problem by allowing you to create a playlist using songs from multiple streaming sources.</span>
        </div>
        <br />
        <div class="section">
            <h2>How To:</h2>
            <ol>
                <li>Type the name of the song you wish to add to your playlist in the 'Search Bar'.</li>
                <li>Click the logo of a music streaming site to search for results.</li>
                <li>
                    A list of search results should display below the 'Search Bar'.<br />
                    Click a search result to add it to your playlist.
                </li>
                <li>
                    You can add multiple songs from any supported streaming site together in one playlist.<br />
                    The 'Playlist Bar' on the right side of the screen allows you to choose another song in your playlist to play, remove a song, skip forwards / backwards, and play / pause.
                </li>
            </ol>
        </div>
        <br />
        <div class="section">
            <span>Supported Sources: <b>SoundCloud, YouTube</b></span>
        </div>
        <br />
    </div>
    

</body>
</html>
